<!DOCTYPE html>
<html>
    <head>
        <title>Projects — Seth Spickard</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marcellus">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montez">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oranienbaum">
    </head>
    <body>
        <header>
            <h1>
                Seth Spickard
            </h1>
        </header>
        <content>
            <div class="main">
                <div class="main-content">
                    <p>
                        Welcome to the Projects tab! While the page is broken down into each one of my projects over the spring semester, this page serves not only as a collection of products but also as a timeline to see how far I have come.
                    </p>
                </div>
                <div style="background-color:cornsilk;" class="main-content">
                    <h2>
                        Project #0 (?): VSCODE AND GITHUB
                    </h2>
                    <div style="padding-left:1%">
                        <p style="padding-bottom:1%;">
                            For me to begin my programming journey in Python, I needed to get to know my tools first: GitHub and Visual Studios Code (VS Code). GitHub is a programming standard, and I chose to use VS Code as my IDE because of how well it meshes with a Windows system. While this "project" is not a project of sorts, I would be remissed if I did not at least mention it  because of the lessons it taught me. 
                        </p>
                        <dl>
                            <dt>1) Seemingly random errors are very frustrating.</dt>
                                <dd>Sometimes the best way to approach an issue is take a step back to get a new perspective instead of trying the same thing over and over.</dd>
                            <dt>And 2) turning towards others for help is crucial.</dt> 
                                <dd>Asking questions, prodding, and actually reading tutorials instead of copying and pasting code snippets is huge. As the saying goes, I am standing on the shoulders of giants.</dd>
                        </dl>
                        <p style="padding-top:1%">
                            So, through some debugging and assistance, I was able to tackle the setup and move onto bigger programming milestones.
                        </p>
                    </div>
                </div>
                <div class="main-content">
                    <h2>
                        Project #1: APIS AND DATA VISUALIZATION
                    </h2>
                    <div style="overflow: auto;">
                        <img src="{{ url_for('static', filename='image/Figure_Api-Data.png') }}" id="figure">
                        <p style="padding-left:1%;">
                            The first big project was using APIs to gather and display information. I communicated with and pulled information from a NBA API using the Requests library, utilized NumPy to calculate some summary statistics, and visualized the data with Matplotlib graphs. Shown to the right is an image of the two graphs made from the NBA data and <a href="{{ url_for('static', filename='output.xlsx') }}" style="padding-bottom:20px;font-size: 24px;line-height: 1.5;font-family:'Oranienbaum';letter-spacing: 1.3px;">here</a> is a generated excel file of the summary statistics.
                        </p>
                    </div>
                </div>
                <div style="background-color:cornsilk;" class="main-content">
                    <h2>
                        Project #2: IMAGE MANIPULATION
                    </h2>
                    <div>
                        <div style="padding-left:1%;padding-bottom:2%;">
                            <p style="padding-bottom:1%;">
                                Before moving onto computer vision, we need to first have the ability to manipulate images. In this project, I used the OS library to allow the user to select an "images" folder. Then, OpenCV and NumPy manipulated the colors of images through swapping matrix values and masking. Finally, Matplotlib allowed the user to see the manipulated image (although I could have used OpenCV for the same purpose). Below is an example image and three manipulated versions:  
                            </p>
                            <dl>
                                <dt>
                                    The first image is the normal red-green-blue (RGB) image
                                </dt>
                                <dt>
                                    The second was switched from an RGB to a hue-saturation-value (HSV) color space
                                </dt>
                                <dt>
                                    The third is a mask of the first image, capturing most of the person's skin tone
                                </dt>
                                <dt>
                                    The fourth is a negative version of the image (all values are reversed)
                                </dt>
                            </dl>
                        </div>
                        <img src="{{ url_for('static', filename='image/Figure_Image-Manip.png') }}">
                    </div>
                    
                </div>
                <div class="main-content">
                    <h2>
                        Project #3: THIS FLASK WEB APPLICATION!
                    </h2>
                    <div>
                        <p style="padding-left:1%">
                            Yes, even this web application is one of my projects. As mentioned in the "ABOUT" tab, I already knew HTML and CSS coming in, but I learned Flask as a way to host a local server and implement python into a standard HTML web page. There is definitely more integration that I can do with this web app, but time prevented me from fully expanding the python I learned into website design.
                        </p>
                    </div>
                </div>
            </div>
        </content>
        <nav>
            <div style="grid-area: nav1;">
                <a class="divlink" href="/">About</a>
            </div>
            <div style="grid-area: nav2;">
                <a class="divlink" href="/projects">Projects</a>
            </div>
            <div style="grid-area: nav3;">
                <a class="divlink" href="/contact">Contact</a>
            </div>
        </nav>
        <footer>
            <h6>
                Copyright 2023 Seth Spickard
            </h6>
        </footer>
    </body>
</html>